html{
    height: 100%;
}
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    
}

.zone1{
    border: 1px solid black;
}

.zone2{
    border: 1px solid black;
}

#lista_elevi_wrapper{
    justify-self: center;
}

#note_elev_wrapper{
    justify-self: center;

}

.hide{
     display: none;
}